body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* -HEADER- */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    border-bottom: 2px solid rgb(173, 173, 173); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     z-index: 1000; 
}

.container {
    position: relative;
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 70px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* -MIDDLE-BOX- */

.middle-box {
    /* posición y tamaño */
    box-sizing: border-box;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 20px; 
    max-height: 40px;
    padding-top: 250px;
    margin-top: 100px;
    /* color */
    background-color: #fff9e1;
    color: black;
}

.middle-box p {
    font-size: 20px;
    position: absolute;
    left: 5%;
    top: 50%;
    margin: 0;
}

.middle-box img {
    position: absolute;
    padding-right: 30px;
    top: 0;
    right: 0;
    height: 100%;
    width: auto; 
    display: flex;
}

/* -CONTENT-BOX- */

main {
    background-color: #6b9ee1; /* Color de fondo */
}

.content-box {
    background-color: #e6e6e6; /* Color de fondo */
    color: black; /* Color de texto */
    padding: 20px;
    padding-left: 40px;
    max-width: 700px; /* Ancho máximo */
    margin: 0 10%;
    text-align: left;
}

.content-box p {
    font-size: 20px;
}

.options {
    font-size: 100%;
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}
options li input {
    margin-right: 5px;
}

/* -FOOTER- */

footer {
    background-color: #2d3847;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}